In [1]:
print ('first project')

first project

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('data.csv')

In [5]:
df.head()

   Unnamed: 0                 date      open     close      high       low
0           0  2022-03-03 03:00:00  0.032563  0.031506  0.032566  0.031161
1           1  2022-03-03 07:00:00  0.031507  0.031218  0.031519  0.030890
2           2  2022-03-03 11:00:00  0.031220  0.030416  0.031502  0.030416
3           3  2022-03-03 15:00:00  0.030507  0.028562  0.030575  0.028275
4           4  2022-03-03 19:00:00  0.028562  0.029070  0.029790  0.028191

In [7]:
print ('changed to commit')

changed to commit

In [8]:
df.shape[0]

2536

In [9]:
df = df.iloc[:1000, :]

In [10]:
df.shape[0]

1000

In [11]:
df.head()

   Unnamed: 0                 date      open     close      high       low
0           0  2022-03-03 03:00:00  0.032563  0.031506  0.032566  0.031161
1           1  2022-03-03 07:00:00  0.031507  0.031218  0.031519  0.030890
2           2  2022-03-03 11:00:00  0.031220  0.030416  0.031502  0.030416
3           3  2022-03-03 15:00:00  0.030507  0.028562  0.030575  0.028275
4           4  2022-03-03 19:00:00  0.028562  0.029070  0.029790  0.028191

In [12]:
df.to_csv('data.csv')

In [13]:
print ('Переходим в ветку тест')

Переходим в ветку тест